    .button-text{
    	font-size: 30px;
    	color: black;

    }
    .button-text:hover, .button-text:focus{
    	text-decoration: underline;
    	color: black;
    	font-weight: 500;
    }

    #sign-up-button{
    	background-color: #1abd9c;
    	border-color: #1abd9c;
    	    	border-radius: 0;

    }
/*white background, green text*/

	.inverse-button-text{
		background-color: white;
		border: none;
		color: #1abd9c;
		border-radius: 0;

	}

	.inverse-button-text:hover, .inverse-button-text:focus{
		background-color: #e0e0e0;
		border: none;
		color: #1abd9c;
		
	}
